{% extends "base_template.html" %}

{% block title %}Form{% endblock title %}

{% block main %}
    <form id="bankForm">
        <fieldset>
            <legend>Customer Input</legend>
            <label>Customer Name: </label>
            <input type="text" name='customer_name'>
            <br><br>

            <label>Age: </label>
            <input type="text" name='customer_age'>
            <br><br>

            <label>Service Officer Name: </label>
            <input type="text" name='officer_name'>
            <br><br>

            <label>Branch Code: </label>
            <input type="text" name='branch_code'>
            <br><br>

            <!-- do a drag and drop -->
            <label>Image: </label>
            <input type="file" name='image'>
            <br><br>

            <p>Please select your product choice:</p>
            <input type="radio" id="investor" name="productType" value="investor">
            <label for="male">Investor</label><br>

            <input type="radio" id="insurance" name="productType" value="insurance">
            <label for="female">Insurance</label><br>

            <input type="radio" id="loans" name="productType" value="loans">
            <label for="loans">Loans</label><br>

            <input type="radio" id="savings" name="productType" value="savings">
            <label for="savings">Savings</label><br>

            <input type="radio" id="creditcard" name="productType" value="creditcard">
            <label for="creditcard">Credit Card</label><br>
            <br><br>

            <input type="button" id="submit" value="Submit">
        </fieldset>
    </form>

{% endblock main %}
